/* general style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4{
  font-weight: 400;
}

p{
  margin: 20px;
  font-size: 12px;
}

/* utility */
.d-f{
  display: flex;
}

.t-u{
  text-transform: uppercase;
}

.blue{
  background-color: #515262;
}

.white{
  background-color: #ffffff;
}

.grey{
  background-color: #e1dace;
}

.orange{
  background-color: #faae2c;
}

.btn{
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
}

.orange-btn{
  color: white;
  background: #fdaf2a;
}

/* layout */
.container{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

section{
  padding: 40px;
}

footer{
  padding: 10px 0px 40px;
}

/* header navbar*/
header{
  background-color: black;
  /* background-image: url('./img/backimg.png'); */
  height: 500px;
  position: relative;
}

header .navbar{
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: space-between;
}

.logo{
  flex-basis: 37%;
}

.navbar-list{
  flex-basis: 35%;
}

.account{
  flex-basis: 27%;
}

.logo img{
  width: 80px;
}

.navbar-list,
.account{
   justify-content: flex-end;
   align-items: flex-end;
}

.navbar-list ul li,
.navbar-list > a,
.account a:last-child{
  margin-left: 20px;
}

/* hover navbar */
.navbar-list ul,
.navbar-list ul li{
  height: 100%;
}

.navbar-list ul li{
  position: relative;
  align-items: flex-end;
}

.navbar-list ul li:hover::after{
  content: "";
  display: table;
  width: 45px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* header jumbotron */
header .jumbotron-text{
  margin-top: 150px;
}

header .jumbotron-text h1{
  font-size: 35px;
}

.jumbotron-text .ico-jumbotron{
  position: absolute;
  top: 25%;
  right: 0;
  padding: 6px;
  background-color: #232423;
  font-size: 11px;
  border-radius: 2px;
}

/* main */
