/* general style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

/* utility */
.d-f{
  display: flex;
}

/* layout */
.container{
  width: 70%;
  margin: 0 auto;
}

/* header */
header{
  background-color: black;
  justify-content: space-between;
  height: 300px;
}

header section{
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.logo{
  flex-basis: 37%;
}

.navbar-list{
  flex-basis: 35%;
}

.account{
  flex-basis: 27%;
}

.logo img{
  width: 80px;
}

.navbar-list{
   justify-content: flex-end;
   align-items: flex-end;
}

.navbar-list ul li,
.navbar-list > a,
.account a:last-child{
  margin-left: 20px;
}

.account{
  justify-content: flex-end;
  align-items: flex-end;
}

/* hover navbar */
.navbar-list ul,
.navbar-list ul li{
  height: 100%;
}

.navbar-list ul li{
  position: relative;
  align-items: flex-end;
}

.navbar-list ul li:hover::after{
  content: "";
  display: table;
  width: 45px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
