<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="wplms">

      <!-- header logo e navbar -->
      <header>

          <!-- logo e navbar -->
          <div class="navbar container d-f">

            <!-- logo -->
            <div class="logo z">
              <img :src=" logo.folder + logo.name + logo.type " alt="">
            </div>

            <!-- lista navbar -->
            <div class="navbar-list d-f">
              <ul class="d-f">
                <li  class="d-f"
                     v-for="link in links"
                     v-show=" login == true">
                  <a href="#">{{ link }}</a>
                </li>
                <li  class="d-f"
                     v-for="linkLogin in add()"
                     v-show=" login == false">
                  <a href="#">{{ linkLogin }}</a>
                </li>
              </ul>
              <a href="#" class="z" ><i :class=" 'fas ' + search"></i></a>
            </div>

            <!-- account login con store -->
            <div class="account d-f z">
              <a href="#"
                 @click=" login = !login "
                 v-if="login == true">{{ account.link }}</a>
              <a href="#"
                 @click=" login = !login "
                 v-else>{{ account.output }}</a>
              <a href="#"><i :class=" 'fas ' + account.icon"></i></a>
            </div>

          </div>

          <!-- jumbotron e text jumbotron -->
          <div class="jumbotron-text container">
            <h1>One App for eLearning - Web or Mobile</h1>
            <p class="op"><span class="t-u">wplms</span> is the most modern Learning management system for Web.</p>
            <button  class="btn orange-btn t-u" type="button" name="button">get your app</button>
          </div>

          <!-- gallery -->
          <div class="ico-jumbotron">
            <a href="#"
               @click=" show = true "><i :class=" 'fas ' + collection"></i></a>
          </div>

          <!-- images gallery -->
          <div class="images-gallery"
               v-show=" show == true ">
            <i class="fas fa-arrow-circle-left fa-2x"
               @click="prevImg"></i>
            <div class="gallery">
              <img :src="gallery[indexGallery]" alt="">
            </div>
            <i class="fas fa-arrow-circle-right fa-2x"
               @click="nextImg"></i>
            <i class="fas fa-times fa-lg"
               @click=" show = false "></i>
          </div>

      </header>

      <!-- main corpo centrale (6 sezioni) -->
      <main>

        <!-- free app -->
        <section class="white container">

          <!-- title settingsApp -->
          <div class="title-settingsApp">
            <h2>Get <span>Free App</span> for your Education &
                LMS Site.</h2>
            <p>Huge savings of <span>Time and Money.</span>The
               WPLMS PWA plays equally good on <span>Mobile,
               Desktop, Tablets and TV's.</span></p>
          </div>

          <!-- settingsApp -->
          <div class="settings d-f">
            <div class="description" v-for="setting in settingsApp">
              <i :class=" 'fas ' + setting.icon "></i>
              <h4>{{ setting.title }}</h4>
              <p>{{ setting.text }}</p>
            </div>
          </div>

          <button  class="btn orange-btn" type="button" name="button">See all features <i :class=" 'fas ' + iconBtn"></i></button>
        </section>

        <!-- device -->
        <section class="blue">

          <div class="container">

            <!-- title device -->
            <div class="title-device">
              <h2>One app for all device Mobile, Tablet, Desktop & TV</h2>
              <div class="title-text">
                <p>Install and setup WPLMS version 4. Upload your
                  App icon and splash image and <span>get your
                  App few clicks</span> from the options panel</p>
              </div>
            </div>

            <!-- description device app -->
            <div class="device-bottom d-f">
              <div class="text-device d-f jcc">
                <h3>Mobile first design</h3>
                <p>The version 4 is built with mobile centeric
                   design pattern and the latest Progressive
                   web app technology.</p>
                <p class="op">Course pursue screen for students</p>
                <p class="op">Course creation module for instructors</p>
              </div>
              <div class="phone" v-for="img in deviceImgs">
                <img :src=" img.folder + img.name + img.type " alt="">
              </div>
            </div>

          </div>

        </section>

        <!-- courses -->
        <section class="white">

          <div class="container">

            <!-- title courses -->
            <div class="title-courses">
              <h2>Get <span>unlimited access</span> to our courses.</h2>
              <p>Get instant access to <span>over 2500 online courses.</span></p>
              <p>Join <span>560,000 Students</span> enrolled in the site.</p>
            </div>

            <!-- images courses -->
            <div class="courses d-f">
              <div class="img-courses" v-for="course in courses">
                <img :src=" course.img.folder + course.img.name + course.img.size + course.img.type" alt="">
                <div class="text-courses z">
                  <div class="h3-courses">
                    <h3>{{ course.title }}</h3>
                  </div>
                  <div class="p-courses">
                    <p v-show="course.sections.secOne !== '' " >{{ course.sections.secOne }}</p>
                    <div class="pseudo">
                      <div>{{ course.sections.secTwo }}</div>
                      <div v-show="course.sections.secThree !== '' ">{{ course.sections.secThree }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button  class="btn orange-btn" type="button" name="button">See all features <i :class=" 'fas ' + iconBtn"></i></button>

          </div>

        </section>

        <!-- brands -->
        <section class="grey">

          <div class="container">

            <!-- title brands -->
            <div class="title-brands">
              <h2>Trusted by <span>fortune 500</span> brands</h2>
              <p>From startups to fortune 500 brands.</p>
              <p>WPLMS is the number 1 choice to start an
                 educational venture.</p>
            </div>

            <!-- images brands -->
            <div class="brands d-f">
              <div class="img-brands d-f jcc" v-for="brand in brands">
                <img :src="brand.folder + brand.name + brand.size + brand.type " alt="">
              </div>
            </div>
          </div>

        </section>

        <!-- customers -->
        <section class="white">

          <div class="container">

            <!-- title customers -->
            <div class="title-customers">
              <h2>What out <span>Customers say</span> about us</h2>
              <p>Excellence speacks for itself. Coporates,
                 Students, Instructors, and Academy.</p>
            </div>

            <!-- info customers -->
            <div class="customers d-f jcc">

              <div class="info-customers" v-for="info in information">
                <h4>{{ info.title }}</h4>
                <p>{{ info.text }}<span>read more</span></p>
                <img :src=" info.img.folder + info.img.avatar + info.img.size + info.img.type " alt="">
                <h4>{{ info.name }}</h4>
                <p>{{ info.section }}</p>
              </div>

            </div>

          </div>

        </section>

        <!-- contact sales -->
        <section class="orange">

          <div class="container">

            <!-- title contact sales -->
            <div class="title-sales">
              <h2>Looks <span>Interesting</span> ? Get in Touch</h2>
              <p class="op">Think you got a great idea, get in touch with
                 us, we can't wait to have you on board.</p>
            </div>

            <button  class="btn white-btn" type="button" name="button">contact sales / support</button>
          </div>

        </section>
      </main>

      <!-- footer logo e 3 liste link -->
      <footer class="blue">

        <div class="container d-f">

          <!-- logo footer -->
          <div class="logo-footer">
            <img :src=" logo.folder + logo.name + logo.type " alt="">
            <p>We make great apps</p>
          </div>

          <!-- list links footer -->
          <div class="list d-f">

            <!-- links about -->
            <ul>
              <li v-for="link in linksAbout">
                <a href="#">{{ link }}</a>
              </li>
            </ul>

            <!-- links courses -->
            <ul>
              <li v-for="link in linksCourses">
                <a href="#">{{ link }}</a>
              </li>
            </ul>

            <!-- links categories -->
            <ul>
              <li v-for="link in linksCategories">
                <a href="#">{{ link }}</a>
              </li>
            </ul>

          </div>

        </div>

        <!-- icona footer per top -->
        <div class="ico-footer">
          <a href="#"><i :class=" 'fas ' + top + ' fa-2x' "></i>TOP</a>
        </div>
      </footer>

    </div>
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
